{% if user.is_authenticated %}
    <h1>こんにちは！{{ user.username }}さん</h1>
    <a href="{% url 'registration:logout' %}">ログアウト</a>

    <section>
        現在時刻:

        <p id="Clock1" style="display: inline"></p>
        <script type="text/javascript">
            setInterval('showClock1()', 1000);

            function showClock1() {
                var DWs = new Array('日曜日', '月曜日', '火曜日', '水曜日', '木曜日', '金曜日', '土曜日');
                var Now = new Date();
                var YY = Now.getYear();
                if (YY < 2000) {
                    YY += 1900;
                }
                var MM = set0(Now.getMonth() + 1);
                var DD = set0(Now.getDate());
                var DW = DWs[Now.getDay()];
                var hh = set0(Now.getHours());
                var mm = set0(Now.getMinutes());
                var ss = set0(Now.getSeconds());
                var RTime1 = ' ' + YY + '.' + MM + '.' + DD + ' ' + DW + ' ' + hh + ':' + mm + ':' + ss + ' ';
                document.getElementById("Clock1").innerHTML = RTime1;
            }

            function set0(num) {
                var ret;
                if (num < 10) {
                    ret = "0" + num;
                } else {
                    ret = num;
                }
                return ret;
            }
        </script>
    </section>
    <div>

        <p>今月は合計:{{ count_sums }}時間働きました。。。</p>

    </div>
    <div>
        <form action="" method="post">
            {% csrf_token %}
            <button type="submit" name="arrive_at_work" value="arrive_at_work">
                出社する
            </button>

        </form>
    </div>

    <div>
        <form action="" method="post">
            {% csrf_token %}
            <button type="submit" value="leave" name="leave">
                退社する
            </button>
        </form>
        <p>上位5件を表示しています。</p>
        <div>


            {% for commuting_time in commuting_times %}
                出社時間：　{{ commuting_time.arrive_at_work }}
                {% if commuting_time.leave %}
                    　　 退社時間：　{{ commuting_time.leave }}
                    <p>あなたは、今日{{ commuting_time.get_tdhours }}時間働きました。。。お疲れ様です。。</p>
                    <p>今月は合計{{ commuting_time.count}}時間働きました</p>
                    <p>時給は{{ user.wage }}円なので</p>
                    <p>今月もらえる額は{{ count_wage }}円です</p>
                    <br>
                    <hr>
                {% endif %}
            {% endfor %}

            {{ message }}


        </div>
        <a href="{% url 'post:list' %}">もっと見る</a>

        <p>これまでの履歴を月ごとに確認できる</p>

{% endif %}